<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>SchemeUserState</key>
	<dict>
		<key>web拦截.xcscheme</key>
		<dict>
			<key>orderHint</key>
			<integer>0</integer>
		</dict>
	</dict>
	<key>SuppressBuildableAutocreation</key>
	<dict>
		<key>7B2DA76A1CE097C70091A144</key>
		<dict>
			<key>primary</key>
			<true/>
		</dict>
		<key>7B2DA7831CE097C80091A144</key>
		<dict>
			<key>primary</key>
			<true/>
		</dict>
		<key>7B2DA78E1CE097C80091A144</key>
		<dict>
			<key>primary</key>
			<true/>
		</dict>
	</dict>
</dict>
</plist>
